@import "tailwindcss";

/* Tossface 폰트 정의 */
@font-face {
  font-family: 'Tossface';
  src: url('/fonts/Tossface.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
